.pagination {
    display: flex;
    justify-content: center;

    margin: 20px 0;

    &__btn {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 3px 6px;

        background-color: #fff;
        transition: 0.1s ease;

        &:first-child {
            margin-right: 10px;
        }

        &:hover {
            cursor: pointer;
        }

        &:disabled {
            color: rgba(16, 16, 16, 0.3);
            border-color: rgba(16, 16, 16, 0.3);
            cursor: not-allowed;
        }
        &:not(:disabled):hover {
            background-color: #3861fb;
            border-color: #3861fb;
            color: #fff;
        }
    }
}
