.add-button {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.1s ease;
    padding: 6px;

    &:hover {
        background-color: #02b024;
        border-color: #02b024;
        color: #fff;
        cursor: pointer;
    }
}
