.CoinChart__select {
    display: flex;
    justify-content: center;

    .btn__list {
        display: flex;
        background-color: rgb(239, 242, 245);
        border-radius: 5px;
        max-width: 364px;
        justify-content: space-between;
        padding: 6px 0;
        margin: 0 auto;
        margin-bottom: 10px;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        &:hover {
            cursor: default;
        }

        li {
            color: rgb(97, 110, 133);
            &:first-child {
                margin-left: 10px;
            }
            padding: 2px 4px;
        }

        &__select {
            margin-right: 10px;
            display: block;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        &__selected {
            background-color: rgb(255, 255, 255);
        }
    }
}
