.header{
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid rgb(170, 200, 200);
    justify-content: space-between;
}
.topRankedCoinsInfo{
    position: relative;
    display: flex;
}
.topRankedCoin{
    color: #3861FB;
    display: flex;
    margin: 0 5px;
    align-items: center;
}

@media (max-width: 680px){
    .header{
        align-items: center;
        flex-direction: column;
    }
    .topRankedCoin{
        margin: 0 3px;
    }
}
