.options{
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
}
.options__search{
    background-color: #EFF2F5;
    position: relative;
    padding: 6px 0 6px 35px;
    margin: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
}
.options__search__input{
    border: none;
    background-color: transparent;
}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 680px){
    .options{
        flex-direction: column;
        align-items: center;
    }
}