.homepage {
    position: relative;
    min-height: 500px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']::-webkit-clear-button {
    display: none;
}
