.homepage{
    position: relative;
    min-height: 500px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Отключите крестик очистки в Safari */
input[type=number]::-webkit-clear-button {
  display: none;
}